<h2>Welcome!</h2>

{{#if username}}
You are logged in as {{username}}

<div><h3>Currently Tracked Characters:</h3></div>
<ul>
    {{#each characters}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

