<!doctype html>
<html>
  <head>
  <title></title>
  <link rel="icon" href="/public/img/logo.ico">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
<body>
  <div id="wrapper">
    <div id="hd">
      <h1>Genshin Impact Data</h1>
      {{#if user}}
      <div>Logged in as: {{user.username}} (<a href="/logout">Logout</a>)</div> 
      {{/if}}
    </div>
    <div id="bd">
      {{{body}}}
    </div>
  </div>
</body>
</html>
