<h2>Current Poll</h2>
<h3>{{question}}</h3>
<form method="POST" action="/poll">
    {{#each answerChoices}}
    <input type="radio" name="answer" value={{this}}>{{this}}</input><br>
    {{/each}}
    <input type="submit">
</form>

<h3>Current Votes</h3>
