<h1>Register</h1>
<h2>{{error}}</h2>
<form method="POST" action="">
		<div>Username: <input type="text" name="username" value="">	</div>
		<div>Password: <input type="password" name="password" value="">	</div>
		<input type="submit" value="Register">	
</form>