<h1>Register</h1>
<h2>{{error}}</h2>
<form method="POST" action="">
		<div>username: <input type="text" name="username" value="">	</div>
		<div>password: <input type="password" name="password" value="">	</div>
		<input type="submit">	
</form>
<div><a href="/">Return to Home Page</a></div>