<header>
    <h1 id="aboutHeader" class="websiteHeader">Welcome to Genshin Data!</h1>
</header>
<p>This site serves as a more convenient way to track daily domains based on the characters and weapons that you are building.</p>
<p>Simply creating an account gives you access to the tracking functionality, as your tracked characters and weapons are associated with your account!</p>
<p>The home page will show you what domains are available on the day you visit the site.</p>