<header>
    <h1 id="homeHeader" class="wesiteHeader">Genshin Impact Data</h1>
</header>

{{#if username}}


<div><h3>Currently Tracked Characters:</h3></div>
<ul>
    {{#each characters}}
    <li>{{this}}</li>
    {{/each}}
</ul>


<p id="loggedInAs">You are logged in as {{username}}</p>
{{/if}}

