<!doctype html>
<html>
  <head>
  <title>Genshin Impact Data</title>
  <link rel="icon" href="/img/logo.png">
  <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body id="websiteBody">
    <div id="websiteWrapper">
      <nav>
        <ul id="navBar">
          <li class="navItem"><a href="/"><img id="websiteLogo" src="/img/logo.png" alt="logo"></a></li>

          {{#if user}}
          <li class="navItem"><a href="/track">Tracker</a></li>
          <li class="navItem"><a href="/poll">Weekly Poll</a></li>
          {{/if}}

          {{#unless user}}
          <li class="navItem"><a href="/user/login">Login/Register</a></li>
          {{/unless}}

          {{#if user}}
          <li class="navItem"><a href="/user/logout">Logout</a></li>
          {{/if}}

          <li class="navItem"><a href="/about">About</a></li>
        </ul>
      </nav>
      {{#if user}}
      <div id="welcomeUser">Welcome {{user.username}}</div>
      {{/if}}
      <div id="websiteBodyContent">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
