<header>
    <h1 id="loginHeader" class="websiteHeader">Sign in</h1>
</header>
<form method="POST" action="/user/login">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <input type="submit" value="Login">
</form>
<h2>{{error}}</h2>
<p><em>Don't have an account? <a href="/user/register">Register here!</a></em></p>