<header>
	<h1 id="registerHeader" class="websiteHeader">Register</h1>
</header>
<form method="POST" action="/user/register">
		<div>Username: <input type="text" name="username" value="">	</div>
		<div>Password: <input type="password" name="password" value="">	</div>
		<input type="submit" value="Register">	
</form>
<div>Already have an account? <a href="/user/login">Login</a></div>
<h2>{{error}}</h2>